.larry-side-menu {
	position: absolute;
	cursor: pointer;
	z-index: 19940201;
	left: 200px;
	color: white;
	text-align: center;
	width: 30px;
	height: 30px;
	background-color: #1AA094;
	line-height: 30px;
	top: 23%;
}

.layui-tab-content {
	padding: 0px;
}

.header {
	background: #393D49;
}

.header ul.larry-header-item {
	height: 70px;
}

.header .layui-nav {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	background: none;
}

.admin-logo-box {
	width: 185px;
	height: 70px;
	position: relative;
}

.header .logo {
	left: 10px;
	top: 15px;
}

.layui-body {
	padding-left: 10px;
}

.logo {
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
}

.logo span {
	width: 100%;
	height: 100%;
	font-size: 26px;
	color: white;
}

.larry-tab-box>.layui-tab-title {
	border-bottom: 1px solid #1AA094;
}

.larry-tab-box>.layui-tab-title li {
	border-right: 1px solid #DADADA;
}

.larry-tab-box .layui-tab-title cite {
	font-style: normal;
	padding-left: 5px;
}

.larry-tab-box>.layui-tab-title .layui-this {
	color: white;
	background-color: #1AA094;
}

.layui-tab-title li .layui-tab-close:hover {
	border-radius: 2px;
	background-color: #acacac;
	color: #fff;
}
