<div class="layui-side">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="admin-side-nav" lay-accordion="true"
            style="margin: 15px 0;">
            <!--<li class="layui-nav-item">
                <a><i class="layui-icon layui-icon-home"></i>&emsp;<cite>Dashboard</cite></a>
                <dl class="layui-nav-child">
                    <dd><a lay-href="/welcome">欢迎页</a></dd>
                </dl>
            </li>-->
            <li class="layui-nav-item">
                <a><i class="layui-icon layui-icon-set"></i>&emsp;<cite>测试</cite></a>
                <dl class="layui-nav-child">
                    <dd><a lay-href="/station">测试1</a></dd>
                    <dd><a lay-href="/station1">测试2</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a><i class="layui-icon layui-icon-set"></i>&emsp;<cite>系统监控</cite></a>
                <dl class="layui-nav-child">
                    <dd><a lay-href="/swagger-ui.html" target="_blank">API文档</a></dd>
                    <dd><a lay-href="/druid" target="_blank">Druid监控</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a lay-href="//baidu.com"><i class="layui-icon layui-icon-unlink"></i>&emsp;<cite>一级菜单</cite></a>
            </li>
        </ul>
    </div>
</div>
